//Colors
$white: #ffffff; // app link, home buttons hover, nav links, professions
$black: #000000; // html baclkground
$orange: #ffb317; // home buttons
$light-gray: #dcdad9; // home buttons hover background
$medium-gray: #7f8184; // home buttons hover text
$dark-gray: #231f20; // top menu right, professions boxes right
$medium-purple: #033960; // top menu left
$light-blue: #3b7a87; // professions boxes left
$light-cyan: #56f2f2; // professions title
$medium-cyan: #2e8d8d; //professions buttons
$medium-yellow: #f4d815; //profDescrition list header


//Fonts
$f-family: "Lato", sans-serif;