.prof-description {
	min-height: 85vh;
	height: 100%;
	padding: 0;
}

.prof-description__background {
	min-height: 85vh;
	height: 100%;

	background: $black url('./professionDescription/img/background.png') no-repeat center center;
	background-size: cover;
}

.prof-description__menu {
	min-height: 85vh;
	height: 100%;
	
	background: linear-gradient(to right, $light-blue, $dark-gray);
}

.prof-description__menu__title {
	margin-top: 30px;

	color: $white;
	text-transform: uppercase;
	font-family: $f-family;
	font-size: 24px;
}

.prof-description__menu__list {
	margin-top: 30px;
}

.prof-description__list__item {
	margin-top: 30px;
	font-family: $f-family;
}

.prof-description__list__header {
	color: $medium-yellow;
	font-size: 18px;
}

.prof-description__list__content {
	color: $light-gray;
	font-size: 16px;
}

.prof-description__menu__buttons {
	margin-top: 50px;
}

.prof-description__menu__button {
	margin-top: 25px;

	padding: 15px 0;

	text-align: center;
	text-transform: uppercase;
	color: $white;

	background: $medium-cyan;
	border-radius: 10px;

	cursor: pointer;
}