.profession {
	min-height: 85vh;
	height: 100%;
}

.profession--background-programmer {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./profession/img/background-programmer.png') no-repeat top center;
	background-size: 100%;
}

.profession--background-sailor {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./profession/img/background-sailor.png') no-repeat top center;
	background-size: 100%;
}

.profession--background-linguist {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./profession/img/background-linguist.png') no-repeat top center;
	background-size: 100%;
}

.profession__profession-title {
	margin-top: 100px;

	text-align: center;
	font-size: 24px;
	font-family: $f-family;
	color: $white;
}

.profession__professions-list {
	margin-top: 50px;

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.profession-list__specialization {
	background: linear-gradient(to right, $light-blue, $dark-gray);
	border-radius: 10px;
}

.specialization__title {
	margin-top: 15px;
	
	color: $light-cyan;
	text-align: center;
	font-size: 20px;
	font-family: $f-family;
}

.specialization__description {
	margin-top: 20px;
	font-size: 16px;

	color: $white;
	text-align: center;
	font-family: $f-family;
}

.specialization__buttons-list {
	position: relative;
	margin-top: 20px;
}

.specialization__button {
	position: relative;
	margin-bottom: 15px;
	margin-bottom: 10px;
	bottom: 0px;

	padding: 15px 5px;

	color: $white;
	text-align: center;
	font-size: 18px;
	$font-family: $f-family;

	border-radius: 5px;
	background: $medium-cyan;

	transition-duration: 0.5s;
	cursor: pointer;
}

.specialization__button:hover {
	color: $medium-gray;

	background: $white;
}